.container {
  width: 100%;
  padding: 20px 15px 0px 15px;
  background-size: contain;
  position: relative;
}

.top {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.role-image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-left: 20px;
  background-size: cover;
  background-position: center;
  border: 2px solid white;
}

.role-text {
  color: rgba(245, 245, 245);
  margin-left: 10px;
}

.role-text p {
  margin: 5px 0;
}

.role-text span {
  font-size: 10px;
  background-color: rgb(234, 182, 26);
  padding: 3px;
  border-radius: 3px;
  margin-left: 5px;
  color: rgba(8, 8, 8);
}

.rogue-info {
  width: 320px;
  height: auto;
  background-color: rgba(6, 6, 6, 0.5);
  border-radius: 10px;
  margin: auto auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.rogue-info .item {
  margin: 10px 10px 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.rogue-info .item p {
  text-align: center;
  font-weight: bold;
}

.rogue-info .item p span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.rogue-info .item p:first-child {
  color: rgba(255, 255, 255, 0.999);
  font-size: 18px;
}

.rogue-info .item p:last-child {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  background-color: #100A0E;
  opacity: 0.9;
  z-index: -1;
}

.const-rank-1 {
  background: rgb(96, 96, 96);
}

.cate2,
.const-rank-2 {
  background: rgb(26, 161, 215);
}

.cate3 {
  background-color: rgb(97, 55, 159);
}

.const-rank-4 {
  background: rgb(255, 82, 34);
}

.cate4,
.const-rank-5 {
  background: rgb(167 145 4);
}

.header {
  height: 210px;
}

.header-title {
  font-family: "tttgbnumber";
  color: #ecd381;
  width: 100%;
  text-align: center;
  font-size: 28px;
  padding-top: 10px;
}

.header-uid {
  font-family: "tttgbnumber";
  color: #bba86a;
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

.statistics-before {
  margin-left: 3px;
  color: #c7c7c7;
}

.radar {
  height: 450px;
  position: relative;
}

.records-header {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 7px;
  /*width: 100%;*/
  height: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#817c8d), to(#818185));
  background: -webkit-linear-gradient(left, #817c8d, #818185);
  background: linear-gradient(to right, #817c8d, #818185);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.circle-1 {
  /*position: relative;*/
  margin-top: 10px;
  margin-left: 32px;
  width: 10px;
  height: 10px;
  background-color: #e1e2e5;
  border-radius: 50%;
}

.circle-2 {
  /*position: relative;*/
  margin-top: 12px;
  margin-left: 6px;
  top: 2px;
  left: 30px;
  width: 6px;
  height: 6px;
  background-color: #e1e2e5;
  border-radius: 50%;
}

.records-header-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  /*position: relative;*/
  margin-left: 10px;
  color: #c9cacf;
  font-size: 16px;
}

.records-header-value {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: right;
  -webkit-justify-content: right;
  -ms-flex-pack: right;
  justify-content: right;
  height: 100%;
  color: #c9cacf;
  font-size: 16px;
  width: 350px;
  /*text-align: right;*/
}

.record-world {
  padding-top: 15px;
  margin-left: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  color: #d0d0d0;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.record-world div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #d0d0d0;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.record-world-icon {
  width: 35px;
  margin-right: 10px;
}

.record-world-title {
  position: relative;
  font-size: 22px;
  color: #ffffff;
  height: 40px;
  z-index: 1;
}

.difficulty {
  width: 45px;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 10px;
  margin-right: 15px;
}

.record-world-dif {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-left: auto;
}

.record-world-dif-other {
  padding: 5px;
  border-radius: 0px 10px 0px 10px;
  background-color: red;
  color: white;
  font-size: 12px;
  margin-top: 5px;
}

.high-score {
  display: block !important;
  margin-left: auto;
  margin-right: 15px;
}

.high-score-title {
  font-size: 12px;
  text-align: center;
}

.high-score-value {
  font-size: 16px;
  text-align: center;
}

.record-time {
  color: #d0d0d0;
  font-size: 12px;
  margin-left: 15px;
  padding-bottom: 10px;
  position: relative;
}

.divider {
  border-top: 1px solid #c9cacf;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

.record-characters {
  margin-top: 10px;
  position: relative;
}

.record-characters-title {
  margin-left: 15px;
  color: #d0d0d0;
  font-size: 12px;
}

.record-characters-list {
  margin-left: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.avatar-box {
  margin: 3px 6px 6px 1px;
}

.avatar {
  margin-top: 5px;
  margin-left: 15px;
  background: #cb9a6d;
  width: 100px;
  border-radius: 0 15px 0 0;
  /*height: 90px;*/
  position: relative;
  overflow: hidden;
}

.avatar-inner {
  position: absolute;
  left: 4px;
  top: 3px;
  border-radius: 0 15px 0 0;
  border: #fffdfd48 3px solid;
  width: 94px;
  height: 100px;
}

.avatar-img {
  width: 100px;
  position: relative;
  z-index: 100;
}

.avatar-banner {
  position: absolute;
  top: 102px;
  background: black;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 100%;
  z-index: 101;
}

.avatar-element {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 101;
}

.avatar-cons {
  width: 24%;
  height: 30%;
  z-index: 101;
}

.avatar-cons p {
  position: absolute;
  top: 12%;
  right: 33%;
}

.avatar-name {
  position: absolute;
  bottom: 0;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  white-space: nowrap;
  font-size: 12px;
  z-index: 101;
}

.avatar-name.-wk {
  padding: 1px 3px;
  background-color: rgba(8, 8, 8, 0.65);
  border-radius: 4px;
}

.avatar-name.-pu {
  padding-right: 8px;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 100% 99%, 88% 50%);
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 100% 99%, 92% 50%);
  background: #ff6b6bdd padding-box;
}

.record-wish {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  margin-top: 5px;
  position: relative;
}

.record-wish-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: #bbbbbb solid 2px;
  background: #424242;
}

.record-wish-icon img {
  width: 30px;
  margin-top: 1px;
  margin-left: 3px;
}

.circle-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: #bbbbbb solid 1px;
  position: relative;
  top: 22px;
  left: -12px;
  font-size: 12px;
  background: #ececec;
}

.record-clock {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 16px;
  font-size: 14px;
  height: 40px;
  padding-top: 13px;
  background: rgba(0, 0, 0, 0.2);
  border: #575288 solid 1px;
  text-align: center;
  color: #cbcbcb;
}

.record-weakness {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 12px;
  border: #575288 solid 1px;
  color: #cbcbcb;
}

.record-weakness-header {
  height: 30px;
  background: #393467;
  padding-left: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0 15px 0 0;
}

.record-weakness-content {
  background: #1f1f22d3;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.record-weakness-content-item {
  width: 95%;
  margin: auto;
  border: #7771b7 solid 1px;
  background: #16152d;
  padding: 5px;
}

.record-cache-role {
  width: 50px;
  margin-left: 10px;
}

.record-cache-role img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.record-wish-detail {
  color: #cbcbcb;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 12px;
  position: relative;
}

.record-wish-detail-header {
  height: 30px;
  background: rgba(208, 208, 208, 0.6);
  padding-left: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
}

.record-wish-detail-content {
  padding-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: rgba(245, 245, 245, 0.6);
  padding-bottom: 10px;
}

.record-wish-detail-content-left {
  width: 180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
}

.record-wish-detail-content-left div {
  margin-left: 10px;
}

.record-wish-detail-content-right {
  width: 560px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.record-wish-detail-content-items-3 {
  background: #c79a6d;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}

.record-wish-detail-content-items-2 {
  background: #2572be;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}

.record-wish-detail-content-items-1 {
  background: #727272;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}

.record-wish-detail-content-items-content {
  padding: 5px 7px;
}

.record-wish-detail-content-items-content-badge {
  background: #211f1f;
  color: #dcb58c;
  height: 12px;
  font-size: 10px;
}

.rolling {
  margin-left: 15px;
  margin-bottom: -10px;
  width: 400px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
}

.rolling img {
  width: 45px;
  height: 45px;
  margin-right: 5px;
}

.side {
  position: relative;
  margin-left: 20px;
  margin-bottom: -10px;
  width: 24px;
  height: 24px;
}

.side img {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 2;
}

.side::before {
  content: '';
  position: absolute;
  top: 40%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%) scale(1.3) rotate(22deg);
  transform: translate(-50%, -50%) scale(1.3) rotate(22deg);
  width: 20px;
  height: 20px;
  background-color: var(--side-color);
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  -webkit-box-shadow: 0 0 2px var(--side-color);
  box-shadow: 0 0 2px var(--side-color);
  z-index: 1;
}

.side::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%) scale(1.3) rotate(22deg);
  transform: translate(-50%, -50%) scale(1.3) rotate(22deg);
  width: 18px;
  height: 18px;
  background-color: #1f1f22d3;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  -webkit-box-shadow: 0 0 2px #1f1f22d3;
  box-shadow: 0 0 2px #1f1f22d3;
  z-index: 1;
}

.side1 {
  --side-color: rgb(21, 105, 214);
}

.side2 {
  --side-color: rgb(169, 78, 239);
}

.side3 {
  --side-color: rgb(244, 231, 158);
}

.qiwu {
  margin-left: 15px;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: #bbbbbb solid 1px;
}

.qiwu img {
  width: 32px;
  height: 32px;
  margin-top: 3px;
  margin-left: 3px;
}

.record-pass-area-block {
  background: #1B2044;
  border: #575288 solid 1px;
  border-left: #575288 solid 5px;
  padding: 5px 10px;
  margin-left: 10px;
  min-width: 200px;
}

.record-pass-area-block img {
  width: 30px;
  vertical-align: middle;
}

.logo {
  font-size: 16px;
  font-family: "tttgbnumber";
  color: #ecd381;
  text-align: center;
  margin-top: 10px;
}