.headerimg {
  background-image: url('../../imgs/rogue/nous/nous_head.png');
  background-repeat: no-repeat;
  height: 690px;
  border-radius: 25px;
  background-size: cover;
  color: rgba(245, 245, 245);
  position: relative;
}

.record {
  width: 100%;
  background: rgba(30, 32, 48);
  border-radius: 20px;
  margin-top: 15px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.record::before {
  content: '';
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../imgs/rogue/nous/nous_bg.png');
  width: 100%;
  height: 300px;
}

.record-world-title {
  margin-bottom: 20px;
  left: 40px;
}

.cur_progress {
  font-size: 32px;
  position: absolute;
  top: 180px;
  left: 70px;
}

.max_progress {
  font-size: 12px;
  color: #969899;
  position: absolute;
  top: 216px;
  left: 102px;
}

.cur_rolling {
  font-size: 36px;
  position: absolute;
  top: 275px;
  left: 465px;
}

.max_rolling {
  font-size: 12px;
  color: #969899;
  position: absolute;
  top: 315px;
  left: 505px;
}

.unlock_miracle {
  font-size: 22px;
  position: absolute;
  top: 380px;
  left: 240px;
}

.active_nerve {
  font-size: 22px;
  position: absolute;
  top: 463px;
  left: 442px;

}

.unlock_event {
  font-size: 22px;
  position: absolute;
  top: 597px;
  left: 285px;
}