.radar-icon-item {
  margin-top: -40px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.headerimg {
  background-image: url('../../imgs/rogue/locust/locust_head.png');
  background-repeat: no-repeat;
  height: 690px;
  border-radius: 25px;
}

.record {
  width: 100%;
  background: rgba(38, 36, 73);
  border-radius: 20px;
  margin-top: 15px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.record::before {
  content: '';
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../imgs/rogue/locust/locust_bg.png');
  width: 100%;
  height: 300px;
}

.radar-block {
  margin-top: -15px;
}

.radar-bg {
  width: 100%;
}

.radar-num {
  background: #0b0c11;
  border-radius: 8px;
  border: #c7c7c7 solid 1px;
  width: 16px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.radar-icon {
  font-size: 12px;
  color: #b2a8e9;
  width: 30px;
  height: 30px;
  position: absolute;
}

.radar-icon img {
  width: 33px;
}

.radar-text1 {
  font-size: 16px;
  color: #c9cacf;
}

.locust_ball {
  width: 50px;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 10px;
  margin-right: 15px;
}

.rogue-info {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  width: 80%;
}

.rogue-info .item {
  width: 115px;
}

.rogue-info .item p span {
  font-size: 18px;
}

.rogue-info .item p:first-child {
  font-size: 28px;
}

.rogue-info .item p:last-child {
  font-size: 18px;
}