<div class="records-header">
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="records-header-title">
    仅展示最近3次的通关数据
  </div>
</div>
{{each detail.records record}}
<div class="record">
  <div class="record-world">
    <div class="record-world-title">
      {{if weekly}}周期演算{{else}}常规演算{{/if}}·通关记录
    </div>
    <div class="difficulty-tourn"
      style="background-image: url('{{pluResPath}}imgs/rogue/floor/{{record.common_info.area_id}}{{record.common_info.difficulty>0?'-t':''}}.png')">
      <p>{{record.common_info.difficulty>0?record.common_info.difficulty:''}}</p>
    </div>
  </div>
  <div class="record-time">
    挑战时间： {{record.finish_time.year}}.{{record.finish_time.month}}.{{record.finish_time.day}}
    {{record.finish_time.hour}}:{{record.finish_time.minute}}:{{record.finish_time.second}}
  </div>
  <div class="divider"></div>
  <div class="record-characters">
    <div class="record-characters-title">
      探索队伍
    </div>
    <div class="record-characters-list">
      {{each record.final_lineup avatar}}
      <div class="avatar bg{{avatar.rarity}}">
        <img class="avatar-img" src="{{avatar.icon||`${pluResPath}${avatar.face}`}}" />
        {{if avatar.rank>0}}
        <span class="avatar-cons cons3-{{avatar.rank}}">
          <p>{{avatar.rank}}</p>
        </span>
        {{/if}}
        <span class="avatar-element {{avatar.element}}"></span>
        <div class="avatar-inner"></div>
        <div class="avatar-name {{useBrowser}}">LV.{{avatar.level}} {{avatar.name}}</div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="record-wish">
    {{each record.base_type_list base}}
    <div class="record-wish-icon">
      <img src="{{res_Path}}common/talent/{{base.name}}-s.png" />
    </div>
    <div class="circle-3">
      {{base.cnt}}
    </div>
    {{/each}}
  </div>
  <div class="record-wish-detail">
    <div class="record-weakness-header">
      <span>加权奇物</span>
    </div>
    <div class="record-weakness-content">
      {{each record.hex_miracles miracle}}
      <div class="qiwu const-rank-{{miracle.rank}}">
        <img src="{{miracle.icon}}" />
      </div>
      {{/each}}
    </div>
  </div>
  <div class="record-wish-detail">
    <div class="record-weakness-header">
      <span>已展开方程</span>
    </div>
    <div class="record-weakness-content">
      {{each record.formula_list formula}}
      <div class="formula">
        <div class="formula-img cate{{formula.formula_category}}">
          <img class="formula-icon" src="{{formula.icon}}" />
          <img class="formula-sub_icon" src="{{formula.sub_icon}}" />
        </div>
        <div class="formula-name">{{formula.name}}{{}}</div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="record-wish-detail">
    <div class="record-weakness-header">
      <span>获得祝福</span>
    </div>
    {{each record.buffs buff}}
    <div class="record-weakness-content" style="flex-wrap: unset">
      <div class="record-wish-detail-content-left">
        <div class="record-wish-icon">
          <img src="{{res_Path}}common/talent/{{buff.base_type.name}}-s.png" />
        </div>
        <div class="record-wish-detail-content-left-title">
          {{buff.base_type.name}} ：
        </div>
      </div>
      <div class="record-wish-detail-content-right">
        {{each buff.items item}}
        <div class="record-wish-detail-content-items-{{item.rank}}">
          <div class="record-wish-detail-content-items-content"> {{item.name}} </div>
          {{if item.is_evoluted }}
          <div class="record-wish-detail-content-items-content-badge">
            已升级
          </div>
          {{/if}}
        </div>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
  <div class="record-wish-detail">
    <div class="record-weakness-header">
      <span>获得奇物</span>
    </div>
    <div class="record-weakness-content">
      {{each record.miracles miracle}}
      <div class="qiwu const-rank-{{miracle.rank}}">
        <img src="{{miracle.icon}}" />
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/each}}