.avatar-element {
  background-repeat: no-repeat;
  background-size: contain;
}

.fire {
  background-image: url('../imgs/element/fire.png');
}

.ice {
  background-image: url('../imgs/element/ice.png');
}

.imaginary {
  background-image: url('../imgs/element/imaginary.png');
}

.elec,
.lightning {
  background-image: url('../imgs/element/elec.png');
}

.physical {
  background-image: url('../imgs/element/phy.png');
}

.quantum {
  background-image: url('../imgs/element/quantum.png');
}

.wind {
  background-image: url('../imgs/element/wind.png');
}